/*-----FONT-----*/
@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');


/*-----RESET-----*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/*-----TIPO Y TITULOS-----*/

body {
    font-family: 'Lato', sans-serif;
}

// Variables
$primary-color: #1F6AA4;
$hover-color: #bed8f1;
$border-color:#098ef5;
$active-color: #35e0f4;
$bg-color: #c7e1f8;
$btn-hover-bg: #86caff;
$text-color: #fff;
$padding: 20px;
$text-align: center;

@mixin rounded-box($border-color, $bg-color) {
    border: 1px solid $border-color;
    text-align: center;
    border-radius: 20px;
    background-color: $bg-color;
    transition: 1s;
}
.ultimas-noticias div {
    @include rounded-box(#1F6AA4, aliceblue);
}

// Mixin para estilos comunes
@mixin common-styles($align:center $text-align, $pad:10px $padding) {
    padding: $pad;
    text-align: $align;
}

// Extend para heading styles
%heading-styles {
    @include common-styles();
}

// Estilos para los elementos
h1, h2, h3, h4 {
    @extend %heading-styles;
}

h1 {
    font-size: 40px;
}

h2 {
    font-size: 30px;
}

h3 {
    font-size: 20px;
}

h4 {
    font-size: 18px;
}

p {
    @include common-styles(left);
    font-size: 15px;
}